

{{#>Base}}
	{{#*inline "Title"}}
		Star Warrior Legends: About
	{{/inline}}

	{{#*inline "Page"}}
		<div class="row">
			<div class="col"></div>
			<!-- Col 1 -->
			<div class="col-12 col-sm-5 col-md-5 col-lg-4 col-xl-3" >
				<img class="mt-5 mt-lg-3 mx-auto d-block" src="https://via.placeholder.com/300" />
			</div>
			<!-- Col 2 -->
			<div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
				<h2 class="mt-1">About the Author</h2>
				{{#>bio}}
					{{!-- Insert bio about the author --}}
				{{/bio}}
			</div>
			<div class="col"></div>
		</div>
	{{/inline}}
{{/Base}}