
<!-- Banner -->
<img class="mx-auto d-block img-fluid" src="/public/image/Bannerdraft.png" />
<!-- Links -->
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/1/1">First Page</a>
  </li> 

  <li class="nav-item">
    <a class="nav-link" href="/">Recent Page</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/about">About</a>
  </li>
</ul>